@charset "utf-8";
/* 푸드 css */
.food{
    padding-bottom: 90px;
}
.food_inner {
    position: relative;
    display: block;
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    
}
.foodi{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
    
    
}

.food img{
    width: 60%;
    mix-blend-mode: multiply;
    padding-bottom: 90px;
}
.foodi img{
    transition: all 0.5s linear;
    overflow: hidden;
    cursor: pointer;
  }
  
  .foodi:hover img{
  transform: scale(1.05);
  filter: brightness(0.7);
  }
  
  .seasonimgSlide img{
    
    mix-blend-mode: multiply;
    padding-bottom: 90px;
}
.seasonimgSlide img{
    transition: all 0.5s linear;
    overflow: hidden;
    cursor: pointer;
  }
  
  .seasonimgSlide li a:hover img{
  transform: scale(1.05);
  filter: brightness(0.8);
  }
  