@charset "utf-8";
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
}

/* 공통클래스 */
.wrap{
   position: relative;
   display: block;
   width: 1920px;
   
}
.header{
    width: 1920px;
    width: 100%;
    height: 327px;
    height: 100%;
    /* background-color: aqua; */
}
.header-inner{
    display: flex;
    justify-content: space-evenly;
    
}
/* 상단왼쪽 */
.topLeft .language{
    display: flex;
    margin-top: 100px;
    
}
.topLeft .language li a{
    padding: 10px;
    font-size: 15px;
}
.topLeft .language li a b:first-child{
    color: #9b0505;
    font-weight: 700;
}
.topLeft .language li a :last-child{
    font-weight: 300;
    color: black;
}
/* 로고 */
.toplogo img{
    width: 147px;
   margin: 50px;
    display: block;
}
/* 상단 오른쪽 */
.topRight .login{
    display: flex;
    margin-top: 100px;
}
.topRight .login li a{
    padding: 10px;
    font-size: 15px;
    color: #5e5e5e;
}

/* 네비게이션 */
.nav{
    background-color: #f8e096;
    position: relative;
    float: left;
    width: 100%;
}
.nav{
    max-width:1920px;
    width: 100%;
}
.nav .topmenu{
    display: flex;
    justify-content: center;
}
.nav .topmenu li a{
    display: block;
    padding: 20px 50px;

    font-size: 17px;
    font-weight: 700;
    color: #866037;
}

    
/* 배너구역 */
.banner{
    position: relative;
    display: block;
}
/* .banner img::after{
    content: "";
    width: 115px;
    height: 10px;
    background-color: #fdd862;
    position: absolute;
    top: 0;
    left: 0;
} */
/* .banner_slide li{
    width: 110px;
    height: 10px;
    background-color: #9b0505;
    z-index: 1;
} */

/* 시그니처 메뉴 */
.foodwrap{
    max-width: 1920px;
}
.sigtxt,.foodtxt,.seasontxt{
   text-align: center;
   margin-top: 50px;
}
.sig,.fd,.season1{
    color: #9b0505;
    /* font-weight: bold; */
    font-weight: 600;
}
.sig2,.fd2,.season2{
font-size: 18px;
}
.sigimg,.foodimg,.seasonimg{
    display: flex;
    justify-content: center;
}
.sigimgSlide,.foodimgSlide,.seasonimgSlide{
    display: flex;
    margin-top: 50px;

}
.sigimgSlide li a,.foodimgSlide li a{
    padding: 30px;
}
.seasonimgSlide li a{
    padding: 30px;
}

/*푸드메뉴 */

/* 뉴핸즈 */
.newhandswrap{
    max-width: 1920px;
}
.newhandsleft{
    float: left;
    
}
.newh1{
    margin-top: 0;
    color: #9b0505;
}
.newhandstxt span{
    display: inline-block;
    border: 1px solid #726357;
color: #726357;
padding: 10px 20px;
border-radius: 5px;
margin-top: 30px;
}
.newhandstxt{
    margin-left: 200px;
    margin-right: 100px;
}
.newhandsright{
    
    margin-top: 250px;
}
.newhandsimg{
    display: flex;
}
.newhandsimg li a{
    padding: 10px;
    
    
}
.newhandsright .newhandsimg li:first-child::before{
    content: "CLASSIC";
    
}
.newhandsright .newhandsimg li:nth-child(2)::before{
    content: "FLAGSHIP STORE";
}
.newhandsright .newhandsimg li:last-child::before{
    content: "ARCHIN";
}