@charset "utf-8";
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
}
img{
    vertical-align: middle;
    border: 0;
}
/* 공통클래스 */
.inner{
    width: 100%;
    max-width: 1920px;
    position: relative;
    display: block;
    margin: 0 auto;
    background-color: aqua;
}
.header{
    position: relative;
    display: block;
}
/* 상단왼쪽 */
.header-left{
    position: relative;
    display: block;
    float: left;
}
.language{
    display: flex;
    
}

/* 상단 오른쪽 */
.header-right{
    display: flex;

}
.login{
    display: flex;
}


/* 로고 */
.logo img{
    width: 142px;
    height: 167px;
    margin: 0 auto;
    display: block;
}

