@charset "utf-8";
/* import */
@import url("banner.css");
@import url("signature.css");
@import url("food.css");
@import url("https://hangeul.pstatic.net/hangeul_static/css/nanum-gothic.css" rel="stylesheet">);


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}
a {
  text-decoration: none;

}
body{
  font-family: N;
}
/* 탑버튼 */
.top-button {
  position: fixed;
  right: 30px;
  bottom: 60px;
  z-index: 99999;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

/* 애니메이션 효과 */
@keyframes updown {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10%);
  }
  100% {
    transform: translateY(0);
  }
}
.top-btn {
  width: 55px;
  line-height: 55px;
  border-radius: 0;
  background-color: #ffffff;
  text-align: center;
  box-shadow: 0px 3px 7px 0 rgb(0, 0, 0, 0.3);
  animation: updown 1.5s infinite;
  }


/* 공통클래스 */
.wrap {
  position: relative;
  display: block;
  max-width: 1920px;
  width: 100%;
}
.header {
  width: 1920px;
  width: 100%;
  height: 327px;
  height: 100%;
  /* background-color: aqua; */
}
.header-inner {
  display: flex;
  justify-content: space-evenly;
  background-color: #fff;
}
/* 상단왼쪽 */
.eng{
  text-decoration: none;
  color: #939293;
  font-weight: 700;
}
.eng:hover{
color: #9b0505;
}

.topLeft .language {
  display: flex;
  margin-top: 100px;
}
.topLeft .language li a {
  padding: 10px;
  font-size: 15px;
}
.topLeft .language li a b:first-child {
  color: #9b0505;
  font-weight: 700;
}
.topLeft .language li a :last-child {
  font-weight: 300;
  color: #5e5e5e;
  text-decoration: none;
}
.login li a:first-child:hover{
  color: #9b0505;
}
/* 로고 */
.toplogo img {
  width: 147px;
  margin: 50px;
  display: block;
}
/* 상단 오른쪽 */
.topRight .login {
  display: flex;
  margin-top: 100px;
}
.topRight .login li a {
  padding: 10px;
  font-size: 15px;
  color: #939293;
  font-weight: 700;
}


/* 네비게이션 */
.nav>.topmenu>.top-bt{
  font-weight: 600;
}
.submenu{
  display: none;
  font-weight: 400;
}
.nav {
  background-color: #f8e096;
  max-width: 1920px;
  width: 100%;
  
}
.nav ul{
  list-style: none;
  z-index: 2;
}
.nav a{
  color: #866037;
  text-decoration: none;
}
.nav > ul{
display: flex; width: 100%;
justify-content: center;
padding: 10px;
}
.nav > ul > li{position: relative;
padding-left: 100px;
font-size: 14px;
}


nav > ul > li > a{font-size: 18px;font-weight: 600;padding:10px 0;margin-top:;}
nav > ul > li > a:hover{color:#9b0505;}
nav > ul > li > ul{display: none; position: absolute; top:-0% left: -0%; transform: translate(-25%,5.5%);background:#f8e096;
width : 100%;}
nav > ul > li:hover ul{display:block;}
nav > ul > li  li a{display: block; text-align: left;;padding:10px;margin-top: 10px;}
nav > ul > li  li a:hover{background:#f8e096;color:#5e3819;font-weight: 600;}
nav > ul > li > li + li{margin-top:5px;}
/* 배너구역 */
.banner {
  position: relative;
  display: block;
}
/* .banner img::after{
    content: "";
    width: 115px;
    height: 10px;
    background-color: #fdd862;
    position: absolute;
    top: 0;
    left: 0;
} */
/* .banner_slide li{
    width: 110px;
    height: 10px;
    background-color: #9b0505;
    z-index: 1;
} */
/* 공통구역 */
/* 공통클래스 */
.inner {
    position: relative;
    display: block;
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    /* background-color: aquamarine; */
  }
  /* section 공동클래스*/
  .wrap > section {
    padding: 30px 0 90px 0;
  }
  .section-top > h2 {
    font-size: 28px;
    line-height: 33px;
    font-weight: 700;
    margin-bottom: 10px;
  }
  .section-top > p {
    font-size: 18px;
    line-height: 24px;
    color: rgba(0, 0, 0, 0.5);
  }

/* 네비게이션 */
/* * 스와이퍼 네비게이션 버튼 */ 
.sw-bt {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.2);
  background: rgba(255, 255, 255, 0.8);
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.13);
  font-size: 0;
  cursor: pointer;
}
.sw-bt::before {
  content: "";
  width: 8px;
  height: 16px;
  display: block;
  position: absolute;
  top: calc(50% - 8px);
  left: calc(50% - 4px);
  background: url("../images/slider_arrow.svg") no-repeat center;
}
.sw-prev::before {
  transform: scaleX(-100%);
}
.sw-prev {
  position: absolute;
  top: 44%;
  left: -155px;
  transform: translate(-50%, -50%);
  z-index: 99;
}
.sw-next {
  position: absolute;
  top: 44%;
  right: -144px;
  transform: translate(50%, -50%);
  z-index: 99;
}
/* 시그니처 이미지 슬라이드 */



/* 시그니처 메뉴 */

.sigtxt,
.foodtxt,
.seasontxt {
  text-align: center;

  margin-top: 150px;
}
.sig,
.fd,
.season1 {
  color: #9b0505;
  /* font-weight: bold; */
  font-weight: 600;
}
.sig2,
.fd2,
.season2 {
  font-size: 18px;
  margin-bottom: 30px;
}
.sigimg,
.foodimg,
.seasonimg {
  display: flex;
  justify-content: center;
}
.sigimgSlide,
.foodimgSlide,
.seasonimgSlide {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}
.sigimgSlide li a,
.foodimgSlide li a {
  padding: 30px;
}
.seasonimgSlide li a {
  
}
.seasonimg img{
  width: 80%;
  
  margin-right: 20px;
}

/*푸드메뉴 */

/* 뉴핸즈 */
.newhandswrap {
  max-width: 1920px;
  width: 100%;
  margin-top: 100px;
}
.newhandsleft {
  float: left;
}
.newh1 {
  margin-top: 0;
  color: #9b0505;
}
.newhandstxt span {
  display: inline-block;
  border: 1px solid #aa9980;
  color: #aa9980;
  padding: 10px 20px;
  border-radius: 5px;
  margin-top: 30px;
}
.newhandstxt span:hover {
  color: #fff;
  background-color: #aa9980;
}
.newhandstxt {
  margin-left: 200px;
  margin-right: 100px;
}
.newhandsright {
  margin-top: 250px;
}
.newhandsimg {
  display: flex;
  position: relative;
}
.newhandsimg li a {
  padding: 10px;
  position: relative;
}


/* 푸터 */
.footer {
  position: relative;
  display: block;
  width: 100%;
  margin-top: 300px;
}
.footer_top {
  position: relative;
  display: block;
  background-color: #fff7e0;
}
.footer_topbar {
  display: flex;
  justify-content: center;
  padding: 20px;
}
.footer_topbar li a {
  padding: 0px 40px;
  color: #5e3819;
  font-size: 16px;
}
.footer_topbar li a:hover{
  font-weight: 600;
}
/* 푸터하단 */
.footerbot {
  background-color: #726357;
  font-weight: 500;
  width: 1920px;
  width: 100%;
  height: 200px;
}
.footerLeft {
  width: 900px;
  float: left;
  margin-top: 20px;
}
.footerLeft .info{
  font-size: 12px;
  line-height: 18px;
  padding: 0px 30px;
  margin-left: 200px;
  padding-top: 50px;
  color: #fff;
}
.copy{
    color: #fff;
  font-size: 12px;
  margin-left: 200px;
  padding: 0px 30px;
}
.footerRight {
  width: ;
  height: 100%;
}

.ftrightimg {
  display: flex;
  justify-content: flex-end;
  padding-right: 450px;
  height: 100%;
  align-items: center;
}
.ftrightimg li a {
  padding-left: 20px;
}
.ftrightimg li a img {
}

/* 뉴핸즈 */
.newhandswrap{
  margin-top: 300px
}
.newhandsimg li a{
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
  color: #fff;
  cursor: pointer;
}
.newhandsimg li a img:first-child{
  transition: all 0.5s linear;
  overflow: hidden;
  filter: brightness(1);
  width: 100%;
height: 100%;
}

.newhandsimg li a:hover img:first-child{

transform: scale(0.97);
filter: brightness(0.5);
}
.newhandsimg{
  position: relative;
  
}

.newhandsimg {
  transition: opacity 0.2s;
  position: relative;
  margin: 0;
  max-width: 100%;
}

/* 카피 */
.imgwrap {
  transition: opacity 0.5s;
  position: relative;
  margin: 0;
  max-width: 20%;
}
.imgwrap img {
  width: 100%;
}
.imgwrap .txtwrap {
  color: #fff;
  position: absolute;
  opacity: 0;
  text-align: center;
  width: 100%;
  position: absolute;
  top: 50%;
  left: 54%;
  transform: translate(-50%, -50%);
  transition: all 0.5s ease;
}
.imgwrap .apsan-img{
  opacity: 1;
  transition: all 0.5s ease 0s;
  overflow: hidden;
  
}
.imgwrap:hover .apsan-img {
  transform: scale(0.97);
filter: brightness(0.5);
}
.imgwrap:hover img {
 
  transition: all 0.5s ease;
 
  cursor: pointer;}
  .imgwrap:hover .txtwrap {
    
  opacity: 1;
  transition: all 0.5s ease;
}

/* 대구미술관점 */
.imgwrap2 {
  transition: opacity 0.5s;
  position: relative;
  margin: 0;
  max-width: 20%;
}
.imgwrap2 img {
  width: 100%;
}
.imgwrap2 .txtwrap2 {
  color: #fff;
  position: absolute;
  opacity: 0;
  text-align: center;
  width: 100%;
  position: absolute;
  top: 50%;
  left: 54%;
  transform: translate(-50%, -50%);
  transition: all 0.5s ease;
}
.imgwrap2 .art-img{
  opacity: 1;
  transition: all 0.5s ease 0s;
  overflow: hidden;
  
}
.imgwrap2:hover .art-img {
  transform: scale(0.97);
filter: brightness(0.5);
}
.imgwrap2:hover img {
 
  transition: all 0.5s ease;
 
  cursor: pointer;}
  .imgwrap2:hover .txtwrap2 {
    
  opacity: 1;
  transition: all 0.5s ease;
}

/* 남구미 */
.imgwrap3 {
  transition: opacity 0.5s;
  position: relative;
  margin: 0;
  max-width: 20%;
}
.imgwrap3 img {
  width: 100%;
}
.imgwrap3 .txtwrap3 {
  color: #fff;
  position: absolute;
  opacity: 0;
  text-align: center;
  width: 100%;
  position: absolute;
  top: 50%;
  left: 54%;
  transform: translate(-50%, -50%);
  transition: all 0.5s ease;
}
.imgwrap3 .archin-img{
  opacity: 1;
  transition: all 0.5s ease 0s;
  overflow: hidden;
  
}
.imgwrap3:hover .archin-img {
  transform: scale(0.97);
filter: brightness(0.5);
}
.imgwrap3:hover img {
 
  transition: all 0.5s ease;
 
  cursor: pointer;}
  .imgwrap3:hover .txtwrap3 {
    
  opacity: 1;
  transition: all 0.5s ease;
}
.newhandswrap2{
  display: flex;
  justify-content: flex-start;
 
}
.newhandswrap2 li a{
  padding-left: 20px;
}
.nhtxt{
  padding-left: 20px;
}