@charset "utf-8";
/* 시그니처 메뉴 css */
.signature{
    background-color: #fff;
}
.signature_inner {
    position: relative;
    display: block;
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
}
.sig{
    display: flex;
    justify-content: center;
    
    
}

.sig img{
    width: 60%; 
}

.sig img{
    transition: all 0.5s linear;
    overflow: hidden;
    cursor: pointer;
  }
  
  .sig:hover img{
  
  transform: scale(1.05);
  filter: brightness(0.70);
  }
  
  