@charset "utf-8";
/* 시그니처 메뉴 css */
.signature{
    background-color: #fff;
}
.signature_inner {
    position: relative;
    display: block;
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
}
.sig{
    display: flex;
    justify-content: center;
    
    
}

.sig img{
    width: 60%;
    mix-blend-mode: multiply;
    padding-left: px;
}